<div class="header">
  <i class="logo fas fa-cat"></i>
  <input type="checkbox" id="chk">
  <label for="chk" class="show-menu-btn">
    <i class="fas fa-ellipsis-h"></i>
  </label>

  <ul class="menu">
    <a routerLinkActive="active" routerLink="/">Wirtualna Adopcja</a>
    <a routerLinkActive="active" routerLink="/mruczarnia">Mruczarnia</a>
    <a routerLinkActive="active" routerLink="/">Twoje Adopcje</a>
    <a routerLinkActive="active" routerLink="/">Konto</a>
    <label for="chk" class="hide-menu-btn">
      <i class="fas fa-times"></i>
    </label>
  </ul>
</div>
