      <a href="">
        <div class="card__image-container">
          <img src="/assets/Images/kot1.jpg" alt="">
        </div>
        <div class="card__content">
          <p class="card__title text--medium">
            {{property.Nazwa}}
          </p>
         <div class="card__info">
        <p class="text--medium">{{property.Wiek}}
        </p>
        <p class="text--medium card__det">{{property.Typ}}
        </p>
         </div>
          <div class="card__info">
            <p class="text--medium">Opiekun: Rysiek</p>
            <p class="card__det text--medium">Stan: Dobry</p>
          </div>
        </div>
      </a>


