<div class="title">Dodaj kota</div>

<div class="form">
  <form>
    <div class="form-elements">
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Imie" name="Imie" id='Imie' required />
        <label for="Imie" class="form__label">Imie</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Wiek" name="Wiek" id='Wiek' required />
        <label for="Wiek" class="form__label">Wiek</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Plec" name="Plec" id='Plec' required />
        <label for="Plec" class="form__label">Płec</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Stan" name="Stan" id='Stan' required />
        <label for="Stan" class="form__label">Stan</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Opis" name="Opis" id='Opis' required />
        <label for="Opis" class="form__label">Opis</label>
      </div>

    </div>

    <div class="buttons">
      <button type="submit" class="myButton addbtn">Dodaj</button>
      <button type="reset" class="myButton">Resetuj</button>
    </div>
  </form>
</div>
